* {
	font-family: 'Inconsolata', monospace;
}

body {
	margin: 0;
	background: black !important; 
	overflow: hidden; 
}

h1 {
	color: white !important;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%) scale(2, 2);
	transition: 0.5s ease-in-out;
}

h1.top {
	top: 0;
	transform: translateX(-50%);
}

#main {
	opacity: 0;
	transition: 0.5s;
	color: white;
	margin-top: 60px;
}

h2 {
	text-align: center; 
	margin: 0;
	cursor: default;
}

.lang-button {
	display: inline-block;
	cursor: pointer;
}

.underline {
	display: block;
	height: 2px;
	margin: 0 auto;
	width: 0;
	transition: width .25s linear;
}

*:hover>.underline, .active>.underline {
	width: 100%;
}

line {
	stroke-width: 5px;
	stroke-dasharray: 100px;
	stroke-dashoffset: 100px;
	stroke-linecap: round;
}

#rect {
	transform: translateY(100px);
	overflow: visible;
	position: absolute;
	left: 20px;
	transition: transform 0.2s linear;
}

#rectleft, #rectright {
	transform: translateX(1px) translateY(1px);
	stroke-width: 2px;
	stroke: transparent;
	fill: transparent;
}

#linedown {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.lang-panel {
	opacity: 0;
	transition: opacity 0.5s linear;
	margin-top: 120px;
	position: absolute;
	width: 100%;
	z-index: -100;
	text-align: center;
}

.lang-panel.shown {
	opacity: 1;
	z-index: 100;
	visibility: visible;
}

a {
	color: inherit;
	display: inline-block;
}

a.d {
	text-decoration: none;
}

.lang-desc {
	width: 40%;
	margin: 10px auto;
}

#details {
	margin-top: 50px;
	opacity: 1;
	z-index: 100;
	transition: all 0.125s ease-in-out;
}

#details.gone {
	opacity: 0;
	z-index: -100;
	transform: translateY(10vh);
}

#rect {
	z-index: -100;
}

#langhint {
	opacity: 0;
	z-index: -100;
	position: absolute;
	transform: translateX(-50%);
}

canvas {
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
}

.text-center {
	text-align: center !important;
  }

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}


.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.text-primary {
	color: #007bff !important;
}

.page-section {
	padding: 50px 0
  }


.service-heading {
	font-weight: 700;
	font-size: 1.5 rem !important; 
}

